body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  background-color: #303030;
}
.title {
  color: rgb(190, 190, 190);
  text-align: center;
  margin-bottom: 30px;
}
.card {
  background-color: #454545;
  color: white;
  border-radius: 5px;
}
.form-control {
  background-color: #3f3f3f;
  color: white;
  border-color: #454545;
  border-radius: 5px;
}
.login-register a {
  color: #acacac;
}
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #000000c9;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.062);
}
.back-button:hover {
  color: #00000088;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.096);
  transition: 0.2s;
}
.change-password-button:hover {
  color: #ffffff;
  border-radius: 15px;

  transition: 0.2s;
}
